[submodule "Unit 1 Get started/Lesson1_Build_your_first_app/1.2 Part B The layout editor/HelloToast"]
	path = Unit 1 Get started/Lesson1_Build_your_first_app/1.2 Part B The layout editor/HelloToast
	url = https://github.com/sgm28/HelloToast.git
